[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "extern/mathplot"]
	path = extern/mathplot
	url = https://github.com/sebsjames/mathplot
[submodule "extern/args"]
	path = extern/args
	url = https://github.com/Taywee/args
